# 4.6 Combining and exporting data

## Exercise Setup

In [3]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [4]:
# Importing current data needed
path = r'C:\Users\William Inglish\Instacart Basket Analysis'

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data' , 'order_products__prior.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data' , 'orders_checked.csv'), index_col = False)

### Merging Data

In [5]:
# Checking output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
# Checking output

df_ords_prior.shape

(32434489, 4)

In [32]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,evaluation_set,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,prior,1,2,8,NaN
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

In [35]:
df_ords = df_ords.drop(columns =['Unnamed: 0.1', 'Unnamed: 0'])

In [36]:
df_ords

,order_id,user_id,evaluation_set,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [37]:
df_ords.shape

(3421083, 7)

In [38]:
# Merging both dataframes on 'order_id'

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [39]:
# Checking output
df_merged_large.head()

,order_id,user_id,evaluation_set,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [40]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [41]:
df_merged_large.shape

(32434489, 11)

### Exporting Data

In [43]:
# Exporting using csv

#df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

#Exporting using pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

## Exercise Problems

### Problem 1

Look in Exercise Setup

### Problem 2

Look in Exercise Setup: Exporting Data