# Exercise Problems

### Problem 3

In [6]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [7]:
# Importing the new dataframe from pickle file
path = r'C:\Users\William Inglish\Instacart Basket Analysis'
 
df_ord_prod_com = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

### Problem 4

In [8]:
#Checking the shape of the new df

df_ord_prod_com.shape

(32434489, 11)

It is the same size

### Problem 5

In [9]:
df_prod_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data' , 'products_cleaned.csv'), index_col = False)

In [10]:
df_prod_clean.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
df_prod_clean = df_prod_clean.drop(columns=['Unnamed: 0'])

In [14]:
df_prod_clean.shape

(49672, 5)

In [63]:
df_ord_prod_com.head()

,order_id,user_id,evaluation_set,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [19]:
df_ord_prod_com = df_ord_prod_com.drop(columns=['_merge'])

In [20]:
df_ord_prod_merge = df_prod_clean.merge(df_ord_prod_com, on = 'product_id', indicator = True)

In [21]:
df_ord_prod_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,evaluation_set,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both

### Problem 6

In [22]:
# Checking the count of the merge column of newly merged df
df_ord_prod_merge['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

### Problem 7

In [24]:
# Exporting newly created df
df_ord_prod_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))